<?xml version="1.0"?>

<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">

	<connectionStrings>
		<add name="BlogEditorConnectionString" connectionString="Data Source=XXXX;Database=XXXX;User ID=XXXX;Password=XXXX;Language=British" providerName="System.Data.SqlClient"/>
		
	</connectionStrings>
	
	<system.web>

	</system.web>
</configuration>
