<?xml version="1.0"?>

<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">

	<connectionStrings>
		<add name="MembersConnectionString" connectionString="Data Source=xxxx;Database=xxxx;User ID=xxxx;Password=xxxx;Language=British" providerName="System.Data.SqlClient"/>
		
	</connectionStrings>
	
	<system.web>

	</system.web>
</configuration>
